@model MVC.Models.EmployeesView

@{
    ViewBag.Title = "Employees page";
}

<h1>Dar de alta empleados/Promover</h1>

@using (Html.BeginForm($"{ViewBag.Message}", "Employees", FormMethod.Post, new { @id = "form" }))
{

    if (ViewBag.Message == "Insert")
    {
        <div class="form-group">
            <label>Nombre: </label>
            @Html.TextBoxFor(e => e.Nombre, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Apellido: </label>
            @Html.TextBoxFor(e => e.Apellido, new { @class = "form-control", })
        </div>

    }
    else
    {
        <div class="form-group">
            <label>Nombre: </label>
            @Html.TextBoxFor(e => e.Nombre, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label>Apellido: </label>
            @Html.TextBoxFor(e => e.Apellido, new { @class = "form-control", @readonly = "readonly" })
        </div>

    }

    <div class="form-group">
        <label>Puesto: </label>
        @Html.TextBoxFor(e => e.Puesto, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>

    @Html.ActionLink("Volver al inicio", "Index",null, new { @class = "btn btn-warning" })
}
